<!-- <p-menubar [model]="items"></p-menubar> -->

<div id='cssmenu'>
   <img src="../../assets/img/login/senai-logo.png" alt="" style="padding-left: 16px;">
   <ul>
      <li><a href='javascript:{}'  routerLink="/home">Home</a></li>
      <li><a href='javascript:{}'>Questão</a>
         <ul>
            <li><a href='javascript:{}'>Cadastrar</a>
               <!-- <ul>
                   <li><a href='#'>Sub Product</a></li>
                   <li><a href='#'>Sub Product</a></li>
                </ul> -->
            </li>
            <li><a href='javascript:{}'>Avaliação</a>
               <!-- <ul>
                   <li><a href='#'>Sub Product</a></li>
                   <li><a href='#'>Sub Product</a></li>
                </ul> -->
            </li>
         </ul>
      </li>
      <li><a  href='javascript:{}'>Cadastros</a>
         <ul>
            <li><a href='javascript:{}'  routerLink="/usuario" >Usuario</a></li>
         </ul>
      </li>
      <li><a href='javascript:{}'>Perfil</a></li>
   </ul>
</div>