<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá,</p>
<p  th:text="${nome}"></p>

<p>Codigo De Acesso</p>

<p>
    <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
        
        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">
                
                 <td style="width:150px;" >Codigo:</td>
              	 <td th:text="${senha}"></td>
            </tr>
        </tbody>
    </table>
</p>

<p>Obrigado.</p>
<p>Equipe Level Tech!</p>

</body>
</html>