.container{
    width: 1400px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

.identificacao{
  position: fixed;
  margin-top: 8em;
  margin-left: -3%;
  padding: 43px ;
  border: 1px solid black;
  border-radius: 20px ;
  box-shadow: 0 0 0.3em black !important;
}  

.div-questao{
  margin-left: 31%;
  
}

.celula-cadastro{
  float: right !important;
  margin-top: 1em;
  /* background-color: rgb(240,255,240); */
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 0.3em black !important;
}

.img{
  text-align: center;
}

.textArea{
  height: 80px !important;
}

