<!-- <div class="ui-g">
    <app-mensagem [hidden]="!msgPrincipalAtivo" ></app-mensagem>
    <div class="ui-g-6 ui-sm-12 menu">

        <div class="ui-g-12">
            <img src="../../assets/img/login/senai-logo.png" alt="" style="padding-left: 28%; ">
        </div>
        <div class="ui-g-12">
            <h1 style="text-align: center; padding-bottom: 5%;">Banco de Questões</h1>
        </div>
        <div class="ui-g-12" [hidden]="isLogin">
            <form autocomplete="off" (ngSubmit)="button()">
                <div class="ui-g-12 input" style="margin-bottom: 2%;">
                    <input class="inputForm" name="login" pInputText type="text" size="30px" placeholder="Login"
                        [(ngModel)]="dados.login">
                </div>
                <div class="ui-g-12 input">
                    <input class="inputForm" name="senha" type="password" pInputText size="30px" placeholder="Senha"
                        [(ngModel)]="dados.senha">
                </div>
                <div class="ui-g-12 ">
                    <button class="btn" pButton type="submit" label="Entrar"></button>
                </div>
            </form>
        </div>

        <div class="ui-g-12" [hidden]="!isLogin" style="text-align: center; margin-bottom: -3%;">
            <div class="ui-g-6 imgCode">
                <img src="{{imageurl}}" alt="">
            </div>

            <form autocomplete="off" (ngSubmit)="confirmCodigoAcesso()">
                <div class="ui-g-5 inputCode">
                    <input name="codigo" id="float-input" pInputText type="text" size="30px" [(ngModel)]="codigoQR"
                        style="margin-bottom: 20px; text-align: center;">
                    <button pButton type="submit" label="Confirmar"
                        style="margin-right: 10px;"></button>
                    <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
                </div>
            </form>
        </div>

      

    </div>

</div> -->

<div class="ui-g">
    <app-mensagem [hidden]="!msgPrincipalAtivo"></app-mensagem>
    <app-spinner [displaySpinner]="displaySpinner"></app-spinner>
    <div class="ui-g-12 ui-sm-12">
        <div class="login-box">
            <div class="ui-g-12 ui-sm-12" style="text-align: center; margin-bottom: 20px;">
                <div class="ui-g-12 ui-sm-12" style=" margin-left: -7px !important; padding-left: 0;">
                    <img src="../../assets/img/login/senai-logo.png" />
                </div>
                <div class="ui-g-12 ui-sm-12" style=" margin-left: -7px !important; padding-left: 0;">
                    <h2>Banco de Questões</h2>
                </div>
            </div>

            <div class="ui-g-12 ui-sm-12" [hidden]="isLogin">
                <form autocomplete="off" #f="ngForm" (ngSubmit)="button()">
                    <div style="text-align: center;">
                        <div class="text-box" style=" margin: auto 25% !important;">
                            <input class="inputForm" name="login" pInputText type="text" size="30px" placeholder="Login"
                                [(ngModel)]="dados.login">
                        </div>

                        <div class="text-box" style=" margin: auto 25% !important;">
                            <input class="inputForm" name="senha" type="password" pInputText size="30px"
                                placeholder="Senha" [(ngModel)]="dados.senha">
                        </div>

                        <button style="margin-top: 10px;" class="btn" pButton type="submit" label="Entrar"></button>
                    </div>

                </form>

            </div>

            <div class="ui-g-12 ui-sm-12" [hidden]="!isLogin">
                <div class="ui-g-6  ui-sm-12">
                    <div class="imgCode">
                        <img src="{{imageurl}}" alt="">
                    </div>

                </div>

                <div class="ui-g-6 ui-sm-12">
                        <form class="formQr" autocomplete="off" (ngSubmit)="confirmCodigoAcesso()">
                            <div class="text-box ">
                                <input class="inputQr"  name="codigo" id="float-input" pInputText type="text" size="30px"
                                    [(ngModel)]="codigoQR" style="margin-top: 20%; text-align: center;">
                            </div>
                            <div style="margin-left: 10%;">
                                <button pButton type="submit" label="Confirmar" style="margin-right: 10px;"></button>
                                <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
                            </div>

                        </form>
                   

                </div>

            </div>

        </div>


    </div>

</div>