<div class="ui-g">
    <app-mensagem [hidden]="!msgPrincipalAtivo" (opcao)="setOpcao($event)"></app-mensagem>
    <div class="ui-g-6 ui-sm-12 menu">

        <div class="ui-g-12">
            <img src="../../assets/img/login/senai-logo.png" alt="" style="padding-left: 28%; ">
        </div>
        <div class="ui-g-12">
            <h1 style="text-align: center; padding-bottom: 5%;">Banco de Questões</h1>
        </div>
        <div class="ui-g-12" [hidden]="isLogin">
            <form autocomplete="off" (ngSubmit)="button()">
                <div class="ui-g-12 input" style="margin-bottom: 2%;">
                    <input class="inputForm" name="login" pInputText type="text" size="30px" placeholder="Login"
                        [(ngModel)]="dados.login">
                </div>
                <div class="ui-g-12 input">
                    <input class="inputForm" name="senha" type="password" pInputText size="30px" placeholder="Senha"
                        [(ngModel)]="dados.senha">
                </div>
                <div class="ui-g-12 ">
                    <button class="btn" pButton type="submit" label="Entrar"></button>
                </div>
            </form>
        </div>

        <div class="ui-g-12" [hidden]="!isLogin" style="text-align: center; margin-bottom: -3%;">
            <div class="ui-g-6 imgCode">
                <img src="{{imageurl}}" alt="">
            </div>

            <form autocomplete="off" (ngSubmit)="confirmCodigoAcesso()">
                <div class="ui-g-5 inputCode">
                    <input name="codigo" id="float-input" pInputText type="text" size="30px" [(ngModel)]="codigoQR"
                        style="margin-bottom: 20px; text-align: center;">
                    <button pButton type="submit" label="Confirmar"
                        style="margin-right: 10px;"></button>
                    <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
                </div>
            </form>
        </div>

      

    </div>
    <!-- <div class="ui-g-12">
        <p-dialog [(visible)]="displayQRCode" [style]="{width: '300px'}" [responsive]="true"
            [modal]="true"  [closable]="false">
            <form autocomplete="off">
                <div class="ui-g-6" style="margin-left: 25px;">
                    <img src="{{imageurl}}" alt="">
                </div>
    
                <div class="ui-g-6" style="margin-left: 5px;">
                    <input name="codigo" id="float-input" pInputText type="text" size="30px" [(ngModel)]="codigoQR">
                </div>
    
                <div class="ui-g-10" style="margin-left: 15px;">
                    <button pButton type="button" label="Confirmar" (click)="confirmCodigoAcesso()"
                        style="margin-right: 10px;"></button>
                    <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
                </div>
            </form>
            
        </p-dialog>
    </div> -->



    

</div>