/* You can add global styles to this file, and also import other style files */
.container{
  width: 1270px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.containerPesquisa{
  width: 1400px;
  margin: 0 auto;
   /* border: 1px solid red; */

}

body{
  /* background-color:white; */
  background-color: rgb(245,245,245);
}

.ui-inputswitch-slider{
  background-color: rgba(0, 107, 51) !important;
}

/* dropdow color insert  */
.ui-state-highlight{
  background-color: rgba(0, 107, 51) !important;
}

.ui-chkbox-box{
  background-color: rgba(0, 107, 51) !important;
  border:none !important;
}
.ui-multiselect-list{
  border:1px solid  rgba(0, 107, 51) !important;
}
/* table css  */
.ui-table table{
  box-shadow: 0 0 0.5em black !important;
}

.ui-table table *{
  text-align: center;
  font-size: 14px;
  border: none !important;
  border-bottom: 1px solid grey !important;
}

.ui-table table th{
  color: white !important;
  background-color: rgba(0, 107, 51) !important;
}


.ui-table table td{
  padding: 0px !important;
}

/* th {
  background-color: green !important;
  color: white !important;
  text-align: center !important; 
  padding: 0 !important; 
  margin: 0 !important;
  
} */
td {
  padding: 0 5px !important; 
  margin: 0 5px !important;
}
.tb-coluna-opcoes  {
  text-align: center !important; 
  padding: 0 !important; 
  margin: 0 !important;
  border: 1px solid white !important;
}

.btn-tabela {
  margin: 7px !important;  
  border: 1px solid white !important;
}
/* =================================== */

.espaco-reservado {
  color: #3d3d3d !important;
}
.ui-float-label{
  margin-top: 8px !important; 
}

button {
    width: 95px;
    background-color:  rgba(0, 107, 51) !important;
    border: none !important;
    border-radius: 100px !important;
}
