/* You can add global styles to this file, and also import other style files */
body{
  background-color:white;
}

.ui-table table{
  box-shadow: 0 0 0.5em black !important;
}

.ui-table table *{
  text-align: center;
  font-size: 14px;
  border: none !important;
  border-bottom: 1px solid grey !important;
}



.ui-table table th{
  color: white !important;
  background-color: rgba(0, 107, 51) !important;
}

.ui-table table td{
  padding: 0px !important;
}

/* th {
  background-color: green !important;
  color: white !important;
  text-align: center !important; 
  padding: 0 !important; 
  margin: 0 !important;
  
} */
td {
  padding: 0 5px !important; 
  margin: 0 5px !important;
}
.tb-coluna-opcoes  {
  text-align: center !important; 
  padding: 0 !important; 
  margin: 0 !important; 
}

.btn-tabela {
  margin: 7px !important;  
}


.espaco-reservado {
  color: #3d3d3d !important;
}
.ui-float-label{
  margin-top: 8px !important; 
}

button {
    width: 95px;
    background-color:  rgba(0, 107, 51) !important;
    border: none !important;
    border-radius: 100px !important;
}