<app-menu></app-menu>

<div class="ui-g">
    <div class="ui-g-3">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <input name="nomeFiltro" pInputText type="text" [(ngModel)]="filtro.nome">
                    <label class="espaco-reservado" for="float-label">Nome</label>
                </span>

            </div>

            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <input name="emailFiltro" pInputText type="text" [(ngModel)]="filtro.email">
                    <label class="espaco-reservado" for="float-label">E-mail</label>
                </span>

            </div>

            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <p-dropdown  [options]="listaSituacao" [showClear]="false" name="situacao" 
                        [autoWidth]="false"
                        [filter]="false" emptyFilterMessage="Nenhum registro!"
                        resetFilterOnHide="true" placeholder="Situação" [(ngModel)]="filtro.ativo"></p-dropdown>
                    <label class="espaco-reservado" for="float-label" [hidden]="filtro.ativo !=null  ? false:true">Situação</label>
                </span>

            </div>

            <div class="ui-g-12 ui-fluid">
                <button  class="btn-pesquisa" pButton type="submit" label='Pesquisar'></button>
            </div>

            <div class="ui-g-6  ui-fluid">
                <button class="btn-pesquisa" pButton type="button" label="Limpar Filtro" (click)="limparFiltro()"></button>
            </div>

            <div class="ui-g-6  ui-fluid">
                <button  class="btn-pesquisa" pButton type="button" label="Novo"></button>
            </div>
        </form>
    </div>

    <div class="ui-g-9" id="tabela">
        <p-table [value]="listaUsuario">
            <ng-template pTemplate="header">
                <tr>
                    <th class="cabecalho-nome">Nome</th>
                    <th class="cabecalho-email">E-mail</th>
                    <th class="cabecalho-login">Login</th>
                    <th class="cabecalho-opcoes">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.login}}</td>
                    <td class="tb-coluna-opcoes">
                        <button class="btn-tabela" pButton type="button"  icon="fa fa-edit" pTooltip="Editar" tooltipPosition="top"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>

</div>